
/*
Outliner: Simple Library for Modern Browsers
Release: Version 0.01 on 2013-11-17
License: The MIT license
Source: https://github.com/zohooo/inliner
*/

.icon-x12, .icon-x16, .icon-x24, .icon-x32, .icon-x48, .icon-x96 {
  display: inline-block;
  vertical-align: middle;
  background-image: url(outliner.svg);
  background-repeat: no-repeat;
  background-size: 500% 500%;
}

.icon-x12 {
  width: 12px;
  height: 12px;
}

.icon-x16 {
  width: 16px;
  height: 16px;
}

.icon-x24 {
  width: 24px;
  height: 24px;
}

.icon-x32 {
  width: 32px;
  height: 32px;
}

.icon-x48 {
  width: 48px;
  height: 48px;
}

.icon-x96 {
  width: 96px;
  height: 96px;
}

.icon-close {
  background-position: 0% 0%;
}

.icon-square {
  background-position: 25% 0%;
}

.icon-circle {
  background-position: 50% 0%;
}

.icon-half {
  background-position: 75% 0%;
}

.icon-quad {
  background-position: 100% 0%;
}

.icon-disk {
  background-position: 0% 25%;
}

.icon-cloud {
  background-position: 25% 25%;
}

.icon-up{
  background-position: 0% 50%;
}

.icon-down {
  background-position: 25% 50%;
}
